/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  text-align: center;
  font-family: sans-serif;
}
 .pokeball{
   margin: 2em auto;
 }

 .inline-block{
   display:inline-block;
 }

a{
  text-decoration: none;
  font-size: 120%;
  color: rgb(0, 113, 185);
}

.logo{
  width: 80%
}
.button{
  height: 25px;
  width: 75px;
  border-radius: 5px;
  border: 1px solid rgb(42, 117, 187);
  background-color: rgb(255, 203, 5);
  color: rgb(0, 113, 185);
  margin: 0 auto;
}
.buttons{
  margin: 10px auto;
}

input{
  border-radius: 5px;
  height: 20px;
  width: 30%;
  margin: 5px auto;
  border: 1px solid rgb(0, 113, 185);
}
